@import "../../theme.scss";

.NewDealForm {

  &--div {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &--label {
    padding-bottom: 3px;
    font-size: $BodySmall;
  }

  /* overly simplistic solution. Only works here because ALL 
    fields are required, would need to revisit if form changes
  */
  &--label:after {
    color: red;
    content: " *";
  }

  &--button {
    margin-top: 8px;
    align-self: flex-end;
  }

  .required {
    color: red;
    font-size: 10px;
  }

  &--button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
}
